# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# duze pliki cpp (tep sem3 miniproj)
*.ipch




#inne 
py/spotipy-test/.env
py/discord-bot/jazzbot-v1/*
py/discord-bot/jazzbot-v2/.env
py/discord-bot/jazzbot-v3/.env
