# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# duze pliki cpp (tep sem3 miniproj)
*.ipch




#inne (dziwne rzeczy były w tym bocie, duzo personalnego info)
py/discord-bot/jazzbot-v1/*
py/discord-bot/free-badge-bot-lmao/token.txt
py/discord-bot/grajo-bot/word_list.txt
py/discord-bot/grajo-bot/sound.mp3
py/discord-bot/grajo-bot/sound.mp3
py/discord-bot/grajo-bot/word_list.txt
py/discord-bot/grajo-bot/word_list.txt
/py/mistral-ai-test/local_model
/py/mistral-ai-test/mistral_instruct_7b
/py/mistral-ai-test/open_llama_7b
py/discord-bot/grajo-bot/grajo1.mp3
py/discord-bot/grajo-bot/grajo2.mp3
py/discord-bot/grajo-bot/grajo3.mp3
